{% load static %}
<header class="">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home:home' %}"><h2>Polylog<em>.</em></h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'home:home' %}">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item {% if request.resolver_match.url_name == 'article_list' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'blog:article_list' %}">All Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'blog:contactus' %}">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        {% if request.user.is_authenticated %}
                            <div class="d-flex">
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'account:edit' %}">Edit Profile</a>
                                </li>
                                {% if request.user.first_name %}
                                    {% if user.profile.image %}
                                        <span><img src="{{ user.profile.image.url }}" width="30px" height="30px"
                                                   style="border-radius: 100%" alt=""></span>
                                    {% else %}
                                        <span><img src="{% static 'images/icons/images.png' %}" width="40px"
                                                   height="40px" style="border-radius: 100%" alt=""></span>
                                    {% endif %}
                                    <a class="nav-link"
                                       href="">{{ request.user.first_name }} {{ request.user.last_name }}</a>
                                {% else %}
                                    <a class="nav-link" href="">{{ request.user.username }}</a>
                                {% endif %}
                                <a href="{% url 'account:logout' %}"><span class="badge badge-danger mt-2">Logout</span></a>
                            </div>
                        {% else %}
                            <div class="d-flex">
                                <a class="nav-link" href="{% url 'account:login' %}">Login</a><span
                                    class="mt-2">/</span>
                                <a class="nav-link" href="{% url 'account:register' %}">Register</a>
                            </div>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>